# Banco de dados (Docker PostgreSQL)
POSTGRES_USER=seu_usuario_aqui
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=requisitos_db

# Conexão SQLAlchemy / Alembic
DATABASE_URL=postgresql://seu_usuario_aqui:sua_senha_aqui@localhost:5433/requisitos_db
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
